<header class="barre-haut">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">{{$root.currentUser.profile.name}}</div>
            <div class="col-sm-4 hidden-xs align-centre"><span class="pays">{{$root.currentUser.profile.isAdmin ? 'Administrateur' : paysCourant.nom}}</span></div>
            <div class="col-sm-4 col-xs-6 align-droite"><button ng-click="login()">{{$root.currentUser ? 'Déconnexion' : 'Connexion'}}</button></div>
        </div>
        <div class="row">
            <div class="hidden-sm hidden-lg hidden-md col-xs-12 align-centre"><span class="pays">{{$root.currentUser.profile.isAdmin ? 'Administrateur' : paysCourant.nom}}</span></div>
        </div>
    </div>
</header>

<div class="container">
    <section class="main-container">
        <header>
            <h1 class="logo">
                <div class="nom">Politica</div>
                <div class="cours">GEP 403</div>
                <div class="description">Simulation politique synthèse</div>
                <div class="effet-bandeau"></div>
            </h1>
        </header>

        <div class="message" ng-include="'client/messages.ng.html'"></div>

        <section class="infos-pays">
            <div ng-include="'client/infos-pays.ng.html'"></div>
        </section>

    </section>
</div>

<footer ng-show="$root.isDebug">
    <div class="container" style="margin-bottom:20px;">
        <strong>Liste des utilisateurs enregistrés dans l'app:</strong>
        <ul ng-repeat="utilisateur in utilisateurs">
            <li>{{utilisateur.username}}</li>
        </ul>
    </div>
    <div class="container" style="margin-bottom:20px;">
        <strong>Liste des utilisateurs pouvant se connecter:</strong>
        <ul ng-repeat="utilisateur in utilisateurs_connectables">
            <li>{{utilisateur.username}}</li>
        </ul>
    </div>
    <div class="container" style="margin-bottom:20px;">
        <strong>Liste des pays:</strong>
        <ul ng-repeat="item in pays">
            <li>{{item.id}}. {{item.nom}}</li>
        </ul>
    </div>
    <div class="container" style="margin-bottom:20px;">
        <strong>Liste des options:</strong>
        <ul ng-repeat="item in optionsjeu">
            <li>Nom: {{item.nom}}, libelé: {{item.libele}}, valeur: {{item.valeur}}</li>
        </ul>
    </div>
</footer>