<!-- Il devrait seulement y en avoir 1 par utilisateur -->
<div ng-repeat="item in pays" ng-show="!$root.currentUser.profile.isAdmin">
    <div ng-show="paysPermis(item.nom)" class="pays-titre">
        <h1>{{item.nom}}</h1>
    </div>
</div>

<section class="donnees-economiques">
    <h1>Données économiques générales</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                    <tr>
                        <th class="pays">Pays</th>
                        <th>PIB de base</th>
                        <th>PIB de base courant</th>
                        <th>Investissement en éducation (G$)</th>
                        <th>Investissement en santé (G$)</th>
                        <th>Investissement en infrastructures (G$)</th>
                        <th>Subvention à l'industrie</th>
                        <th>Dépenses publiques</th>
                        <th>Solde commercial (G$)</th>
                        <th>PIB global</th>
                        <th>Taux d'imposition (% du PIB)</th>
                        <th>Revenus de l'État</th>
                        <th>Solde budgétaire</th>
                        <th>Dette publique (G$)</th>
                        <th>Dette publique (% du PIB)</th>
                        <th>Taux d'intérêt (%)</th>
                        <th>Service de la dette (G$)</th>
                    </tr>
                </thead>
                <tbody>
                <!-- -->
                <tr ng-repeat="item in pays">
                    <td class="pays">{{afficher_nom(item.nom)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.pib_base')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.pib_base')">{{item.donnees_economiques.pib_base}}</div></td>
                    <td>{{calcul_pib_courant(item)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_education')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_education')">{{item.donnees_economiques.inv_education}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_sante')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_sante')">{{item.donnees_economiques.inv_sante}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_infrastructure')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.inv_infrastructure')">{{item.donnees_economiques.inv_infrastructure}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.subvention_industrie')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.subvention_industrie')">{{item.donnees_economiques.subvention_industrie}}</div></td>
                    <td>{{calcul_depenses_publiques(item)}}</td>
                    <td>{{calcul_solde_commercial(item)}}</td>
                    <td class="surbrillance">{{calcul_pib_global(item)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.taux_imposition')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.taux_imposition')">{{item.donnees_economiques.taux_imposition * 100 | number:2}}</div>&nbsp;%</td>
                    <td>{{calcul_revenu_etat(item) | number:2}}</td>
                    <td>?</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.dette_publique')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.dette_publique')">{{item.donnees_economiques.dette_publique}}</div></td>
                    <td>{{calcul_dette_publique(item) | number:2}}&nbsp;%</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.taux_interets')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'donnees_economiques.taux_interets')">{{item.donnees_economiques.taux_interets * 100 | number:2}}</div>&nbsp;%</td>
                    <td>{{calcul_service_dette(item)}}</td>
                </tr>
                <!-- -->
                <!--
                TODO: à utiliser comme variable, trouver une façon de ne pas perdre les données à chaque refresh
                <tr ng-repeat="item in paysCourant.pays">
                    <td class="pays">{{afficher_nom(item.value.nom.value)}}</td>
                    <td><div contenteditable="true" ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.pib_base')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.pib_base')" ng-model="item.value.donnees_economiques.value.pib_base.value"></div></td>
                    <td>{{calcul_pib_courant(item.value)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_education')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_education')" ng-model="item.value.donnees_economiques.value.inv_education.value"></div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_sante')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_sante')" ng-model="item.value.donnees_economiques.value.inv_sante.value"></div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_infrastructure')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_infrastructure')" ng-model="item.value.donnees_economiques.value.inv_infrastructure.value"></div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.subvention_industrie')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.subvention_industrie')" ng-model="item.value.donnees_economiques.value.subvention_industrie.value"></div></td>
                    <td>{{calcul_depenses_publiques(item.value)}}</td>
                    <td>{{calcul_solde_commercial(item.value)}}</td>
                    <td class="surbrillance">{{calcul_pib_global(item)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_imposition')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_imposition')" ng-model="item.value.donnees_economiques.value.taux_imposition.value"></div>&nbsp;%</td>
                    <td>{{calcul_revenu_etat(item.value) | number:2}}</td>
                    <td>?</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.dette_publique')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.dette_publique')" ng-model="item.value.donnees_economiques.value.dette_publique.value"></div></td>
                    <td>{{calcul_dette_publique(item.value) | number:2}}&nbsp;%</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_interets')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_interets')" ng-model="item.value.donnees_economiques.value.taux_interets.value"></div>&nbsp;%</td>
                    <td>{{calcul_service_dette(item.value)}}</td>
                </tr>
                -->
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="utilisateurPeutEditer({'Pays': '*'}, 'donnees_economiques')">Sauvegarder les données</button>
</section>

<section class="cout-ressources">
    <h1>Cours des ressources sur le marché (G$)</h1>
    <hr/>
    <div>
        <form class="data">
            <table>
                <tbody>
                    <tr>
                        <td class="pays">Nourriture (N)</td>
                        <td><div ng-class="{editable:utilisateurPeutEditer('OptionsJeu', 'coût_ressource_N')}" ng-attr-contenteditable="utilisateurPeutEditer('OptionsJeu', 'coût_ressource_N')">{{obtenir_option('coût_ressource_N').valeur || 0}}</div></td>
                    </tr>
                    <tr>
                        <td class="pays">Énergie (É)</td>
                        <td><div ng-class="{editable:utilisateurPeutEditer('OptionsJeu', 'coût_ressource_É')}" ng-attr-contenteditable="utilisateurPeutEditer('OptionsJeu', 'coût_ressource_É')">{{obtenir_option('coût_ressource_É').valeur || 0}}</div></td>
                    </tr>
                    <tr>
                        <td class="pays">Matériau (M)</td>
                        <td><div ng-class="{editable:utilisateurPeutEditer('OptionsJeu', 'coût_ressource_M')}" ng-attr-contenteditable="utilisateurPeutEditer('OptionsJeu', 'coût_ressource_M')">{{obtenir_option('coût_ressource_M').valeur || 0}}</div></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="utilisateurPeutEditer('OptionsJeu', '')">Sauvegarder les données</button>
</section>

<section class="ressources-et-commerce-internationnal">
    <h1>Ressources et commerce internationnal</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                <tr>
                    <th class="pays">Pays</th>
                    <th>Dotation N</th>
                    <th>Dotation É</th>
                    <th>Dotation M</th>
                    <th>Consommation N</th>
                    <th>Consommation É</th>
                    <th>Consommation M</th>
                    <th>Réserve N</th>
                    <th>Réserve É</th>
                    <th>Réserve M</th>
                    <th>Exportation de N</th>
                    <th>Exportation de É</th>
                    <th>Exportation de M</th>
                    <th>Importation de N</th>
                    <th>Importation de É</th>
                    <th>Importation de M</th>
                    <th>Exportations (G$)</th>
                    <th>Importations (G$)</th>
                    <th>Solde commercial (G$)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pays" ng-show="paysPermis(item.nom)">
                    <td class="pays">{{afficher_nom(item.nom)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.dotation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.dotation')">{{obtenir(item, 'ressources.nourriture.dotation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.dotation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.dotation')">{{obtenir(item, 'ressources.énergie.dotation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.dotation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.dotation')">{{obtenir(item, 'ressources.matériau.dotation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.consommation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.consommation')">{{obtenir(item, 'ressources.nourriture.consommation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.consommation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.consommation')">{{obtenir(item, 'ressources.énergie.consommation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.consommation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.consommation')">{{obtenir(item, 'ressources.matériau.consommation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.réserve')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.réserve')">?</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.réserve')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.réserve')">?</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.réserve')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.réserve')">?</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.exportation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.exportation')">{{obtenir(item, 'ressources.nourriture.exportation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.exportation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.exportation')">{{obtenir(item, 'ressources.énergie.exportation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.exportation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.exportation')">{{obtenir(item, 'ressources.matériau.exportation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.importation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.nourriture.importation')">{{obtenir(item, 'ressources.nourriture.importation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.importation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.énergie.importation')">{{obtenir(item, 'ressources.énergie.importation')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.importation')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'ressources.matériau.importation')">{{obtenir(item, 'ressources.matériau.importation')}}</div></td>
                    <td>{{calcul_exportations(item)}}</td>
                    <td>{{calcul_importations(item)}}</td>
                    <td>{{calcul_solde_commercial(item)}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="utilisateurPeutEditer('ressources', 'donnees_economiques')">Sauvegarder les données</button>
</section>

<section class="productions-militaires">
    <h1>Productions militaires</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                <tr>
                    <th class="pays">Pays</th>
                    <th>Infanterie</th>
                    <th>Force aérienne</th>
                    <th>Flotte</th>
                    <th>Drones</th>
                    <th>Complexe nucléaire</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pays" ng-show="paysPermis(item.nom)">
                    <td class="pays">{{afficher_nom(item.nom)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.infanterie')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.infanterie')">{{item.productions_militaires.infanterie}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.force_aérienne')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.force_aérienne')">{{obtenir(item, 'productions_militaires.force_aérienne')}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.flotte')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.flotte')">{{item.productions_militaires.flotte}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.drones')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.drones')">{{item.productions_militaires.drones}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.complexe_nucléaire')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'productions_militaires.complexe_nucléaire')">{{obtenir(item, 'productions_militaires.complexe_nucléaire')}}</div></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="utilisateurPeutEditer('productions_militaires', 'donnees_economiques')">Sauvegarder les données</button>
</section>

<section class="couts-entretien">
    <h1>Coût d'entretien</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                <tr>
                    <th class="pays">Pays</th>
                    <th>Entretien (N)</th>
                    <th>Entretien (É)</th>
                    <th>Entretien (M)</th>
                    <th>Entretien (G$)</th>
                    <th class="cache">Total Entretien</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pays" ng-show="paysPermis(item.nom)">
                    <td class="pays">{{afficher_nom(item.nom)}}</td>
                    <td>{{calcul_cout_entretien_N(item)}}</td>
                    <td>{{calcul_cout_entretien_E(item)}}</td>
                    <td>{{calcul_cout_entretien_M(item)}}</td>
                    <td>{{calcul_cout_entretien_G(item)}}</td>
                    <td class="surbrillance cache">{{calcul_cout_entretien_total(item)}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</section>

<section class="indicateurs-sociaux">
    <h1>Indicateurs sociaux</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                <tr>
                    <th class="pays">Pays</th>
                    <th>Régime politique</th>
                    <th>Population</th>
                    <th>IDH (0=mauvais; 1=excellent)</th>
                    <th>Coefficient de Gini (0=égalité parfaite; 1=inégalité totale)</th>
                    <th>Taux de chômage (%)</th>
                    <th>Indice de perception de la corruption (0: intégrité; 10 : corruption)</th>
                    <th>Indice de liberté civile (0: libre; 10: répression)</th>
                    <th>Indice de stabilité politique</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pays" ng-show="paysPermis(item.nom)">
                    <td class="pays">{{afficher_nom(item.nom)}}</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.regime_politique')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.regime_politique')">{{item.indicateurs_sociaux.regime_politique}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.population')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.population')">{{item.indicateurs_sociaux.population | number:0}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.idh')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.idh')">{{item.indicateurs_sociaux.idh}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.gini')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.gini')">{{item.indicateurs_sociaux.gini}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.taux_chomage')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.taux_chomage')">{{item.indicateurs_sociaux.taux_chomage * 100 | number:2}}</div>&nbsp;%</td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.perception_corruption')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.perception_corruption')">{{item.indicateurs_sociaux.perception_corruption}}</div></td>
                    <td><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.liberte_civile')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.liberte_civile')">{{item.indicateurs_sociaux.liberte_civile}}</div></td>
                    <td class="surbrillance cache"><div ng-class="{editable:utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.indice_stabilite')}" ng-attr-contenteditable="utilisateurPeutEditer({'Pays': item.nom}, 'indicateurs_sociaux.indice_stabilite')">{{item.indicateurs_sociaux.indice_stabilite}}</div></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="utilisateurPeutEditer('indicateurs_sociaux', 'donnees_economiques')">Sauvegarder les données</button>
</section>