<section class="donnees-economiques">
    <h1>Données économiques générales</h1>
    <hr/>
    <div>
        <form class="data fixe">
            <table>
                <thead>
                <tr>
                    <th class="pays">Pays</th>
                    <th>PIB de base</th>
                    <th>PIB de base courant</th>
                    <th>Investissement en éducation (G$)</th>
                    <th>Investissement en santé (G$)</th>
                    <th>Investissement en infrastructures (G$)</th>
                    <th>Subvention à l'industrie</th>
                    <th>Dépenses publiques</th>
                    <th>Solde commercial (G$)</th>
                    <th>PIB global</th>
                    <th>Taux d'imposition (% du PIB)</th>
                    <th>Revenus de l'État</th>
                    <th>Solde budgétaire</th>
                    <th>Dette publique (G$)</th>
                    <th>Dette publique (% du PIB)</th>
                    <th>Taux d'intérêt (%)</th>
                    <th>Service de la dette (G$)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in donneesEconomiques.paysUtilisateur">
                    <td fix-height>{{donneesEconomiques.GestionPaysService.afficher_nom(item.value.nom.value)}}</td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.pib_base')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.pib_base')}}" ng-model="item.value.donnees_economiques.value.pib_base.value"></div></td>
                    <td>{{donneesEconomiques.GestionPaysService.calcul_pib_courant(item)}}</td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_education')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_education')}}" ng-model="item.value.donnees_economiques.value.inv_education.value"></div></td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_sante')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_sante')}}" ng-model="item.value.donnees_economiques.value.inv_sante.value"></div></td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_infrastructure')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.inv_infrastructure')}}" ng-model="item.value.donnees_economiques.value.inv_infrastructure.value"></div></td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.subvention_industrie')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.subvention_industrie')}}" ng-model="item.value.donnees_economiques.value.subvention_industrie.value"></div></td>
                    <td>{{donneesEconomiques.GestionPaysService.calcul_depenses_publiques(item)}}</td>
                    <td>{{donneesEconomiques.GestionPaysService.calcul_solde_commercial(item)}}</td>
                    <td class="surbrillance">{{donneesEconomiques.GestionPaysService.calcul_pib_global(item)}}</td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_imposition')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_imposition')}}" ng-model="item.value.donnees_economiques.value.taux_imposition.value"></div></td> <!--  * 100 | number:2}}&nbsp;% -->
                    <td>{{donneesEconomiques.GestionPaysService.calcul_revenu_etat(item) | number:2}}</td>
                    <td>?</td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.dette_publique')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.dette_publique')}}" ng-model="item.value.donnees_economiques.value.dette_publique.value"></div></td>
                    <td>{{donneesEconomiques.GestionPaysService.calcul_dette_publique(item) | number:2}}&nbsp;%</td>
                    <td><div class="numeric" ng-class="{editable:donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_interets')}" ng-attr-contenteditable="{{donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': item.value.nom.value}, 'donnees_economiques.taux_interets')}}" ng-model="item.value.donnees_economiques.value.taux_interets.value"></div></td> <!--  * 100 | number:2}}&nbsp;% -->
                    <td>{{donneesEconomiques.GestionPaysService.calcul_service_dette(item)}}</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button class="sauvegarder" ng-show="donneesEconomiques.ConnexionService.utilisateurPeutEditer({'Pays': '*'}, 'donnees_economiques')" ng-click="donneesEconomiques.GestionPaysService.sauvegarder(donneesEconomiques.paysUtilisateur, 'donnees_economiques', $event)"><i class="glyphicon glyphicon-refresh spinning"></i>Sauvegarder les données</button>

</section>